* {
    box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10px;
    margin: 0px;
    border: 0px;
}

section {
    /* display: block; */

}

.steps {
    text-align: justify;
    column-count: 3;
    margin-left: 50px;
    column-gap: 5em;
}

.title {
    text-align: left;
    margin-left: 50px;
    font-family: "Avenir";
}

p, h4 {
    text-align: left;
    font-family: "Avenir";
}

.icon {
    height: 50px;
    margin-bottom: 5px;
}

.maplane {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    justify-content: center;
    flex: auto;
    overflow: auto;
}

.form {
    width: 15%;
    margin-left: 50px;
    /* float: right; */
}

.heading {
    
    
}